button {
    background-color: white;
    border: none;
    padding: 10px;
    margin-right: 5px;
}
  
button.active {
    background-color: goldenrod;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/pexels-marcelo-jaboo-696407.jpg");
    height: 80vh;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* .status {
    background-image: linear-gradient(to bottom, black, white);
} */

/* #img {
    margin-bottom: 190px;
} */

.mt-5 {
    color: white;
}

.mt-3 {
    text-decoration: underline;
}
